body {
  background-color: #4682B4;
  color: #ffffff;
  font-family: "Lucida Console", Monaco, monospace;
}

a {
  color: #ffffff;
}

footer ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 15px;
}

footer ul li {
  display: inline-block;
}

footer ul li a {
  font-size: 64px;
}

h1, p {
  color: #ffffff;
}
